<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="static/css/datastax/ticker/bootstrap.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="static/img/datastax/ticker/app_icon.png"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="static/js/datastax/ticker/html5shiv.js"></script>
    <![endif]-->

    <link href="static/css/datastax/ticker/dxfonts-v2.css" rel="stylesheet">
    <link href="static/css/datastax/ticker/common-v3.css" rel="stylesheet">
    <link href="static/css/datastax/ticker/login-page.css" rel="stylesheet">

    <script src="static/js/datastax/ticker/jquery.js"></script>
    <script src="static/js/datastax/ticker/ajax-frontend.js"></script>

    <style type=" text/css">
    </style>

    {% block head %}{% endblock %}

</head>
<body>

{% block body %}{% endblock %}

<script src="static/js/datastax/ticker/bootstrap-transition.js"></script>
<script src="static/js/datastax/ticker/bootstrap-alert.js"></script>
<script src="static/js/datastax/ticker/bootstrap-modal.js"></script>
<script src="static/js/datastax/ticker/bootstrap-dropdown.js"></script>
<script src="static/js/datastax/ticker/bootstrap-scrollspy.js"></script>
<script src="static/js/datastax/ticker/bootstrap-tab.js"></script>
<script src="static/js/datastax/ticker/bootstrap-tooltip.js"></script>
<script src="static/js/datastax/ticker/bootstrap-popover.js"></script>
<script src="static/js/datastax/ticker/bootstrap-button.js"></script>
<script src="static/js/datastax/ticker/bootstrap-collapse.js"></script>
<script src="static/js/datastax/ticker/bootstrap-carousel.js"></script>
<script src="static/js/datastax/ticker/bootstrap-typeahead.js"></script>


<!-- thisfcimgs v 01.07.15 10:21 AM start -->
<div id="thisfcimgs"
     style="visibility:hidden; height:1px; width:1px; overflow:hidden;">
    <img src="static/img/datastax/ticker/custom-icon-circle.png">
    <img src="static/img/datastax/ticker/dash-icon-accounts.png">
    <img src="static/img/datastax/ticker/dash-icon-advice.png">
    <img src="static/img/datastax/ticker/dash-icon-arrowend-down.png">
    <img src="static/img/datastax/ticker/dash-icon-arrowend-right.png">
    <img src="static/img/datastax/ticker/dash-icon-banking.png">
    <img src="static/img/datastax/ticker/dash-icon-customize.png">
    <img src="static/img/datastax/ticker/dash-icon-home.png">
    <img src="static/img/datastax/ticker/dash-icon-logoff.png">
    <img src="static/img/datastax/ticker/dash-icon-mutual.png">
    <img src="static/img/datastax/ticker/dash-icon-quotes.png">
    <img src="static/img/datastax/ticker/dash-icon-submenu.png">
    <img src="static/img/datastax/ticker/dash-icon-trading.png">
    <img src="static/img/datastax/ticker/form-icon-circle-dot.png">
    <img src="static/img/datastax/ticker/form-icon-circle.png">
    <img src="static/img/datastax/ticker/icon-arrow-down.png">
    <!--login-background-v3.png  -->
    <!-- icon-loading-anim.gif -->
    <img src="static/img/datastax/ticker/login-logo.png">
    <img src="static/img/datastax/ticker/mobile-top-nav-button-close-v2.png">
    <img src="static/img/datastax/ticker/mobile-top-nav-button-v2.png">
    <img src="static/img/datastax/ticker/mobile-top-nav-logo.png">
    <img src="static/img/datastax/ticker/mobile-top-nav-search-icon-v2.png">
</div>
</body>
<!-- thisfcimgs END -->
</html>
