{% include "/top-nav.jinja2" %}

<div id="tradingandportfolio-navigation" class="">
    <a href="/portfolio" class="tabnavbutton tnbn1 {% if crumb == 'portfolio' %}selectedtnbn{% endif %}">My Portfolio</a><a
        href="/transactions" class="tabnavbutton tnbn2 {% if crumb == 'transactions' %}selectedtnbn{% endif %}">Transaction
    History</a><a href="/recommendations" class="tabnavbutton tnbn3 {% if crumb == 'recommendations' %}selectedtnbn{% endif %}">Recommendations</a>
</div>
